body,
html {
  margin: 0;
  padding: 0;
  font-family: "Microsoft YaHei";
}
body {
  min-width: 1024px;
}
.label-container {
  display: flex;
  margin-left: 10px;
}
.label-container::before {
  content: attr(label);
  display: inline-block;
  font-family: "SimHei";
  color: #aaa;
  margin-right: 16px;
  line-height: 24px;
  height: 24px;
  font-size: 14px;
}
.label-container > select {
  flex: 1;
  height: 24px;
}
header {
  width: 100%;
  height: 56px;
  background: #2189bf;
  box-sizing: border-box;
  border-bottom: #2478a7 solid 2px;
  padding: 0 50px;
  animation-name: dropHeader;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.1s;
  min-width: 1024px;
  position: fixed;
}
header > img {
  padding: 9px;
}
header > .searchbar {
  display: inline-block;
  position: absolute;
  right: 156px;
  top: 14px;
  bottom: 14px;
  width: 313px;
  height: 28px;
  border-radius: 14px;
  box-sizing: border-box;
  border: none;
  background: url("search.png") left 18px center no-repeat #fff;
  text-indent: 40px;
  outline: none;
}
header > .login {
  position: absolute;
  right: 90px;
  top: 20px;
  bottom: 20px;
  color: #fff;
  font-size: 12px;
  line-height: 16px;
  height: 16px;
}
header > .login > span {
  position: relative;
  top: -4px;
  margin-left: 3px;
}
.container {
  position: absolute;
  width: 100%;
  top: 56px;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
}
nav {
  width: 260px;
  background: #2a2e3d;
  animation-name: dropNav;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.1s;
  animation-delay: 0.1s;
  animation-fill-mode: both;
  transform-origin: 0% 50%;
}
nav > .user {
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
nav > .user > .icon-and-name {
  display: flex;
  align-items: center;
  justify-content: center;
}
nav > .user > .icon-and-name > .icon {
  width: 58px;
  height: 58px;
  border-radius: 58px;
  color: #b9babe;
  border: solid 2px;
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
  animation-name: bgswitch;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.2s;
  animation-delay: 0.2s;
  animation-fill-mode: both;
}
nav > .user > .icon-and-name > .icon > .inner {
  width: 48px;
  height: 48px;
  animation-name: bgswitch;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.2s;
  animation-delay: 0.3s;
  animation-fill-mode: both;
}
nav > .user > .icon-and-name > .name {
  color: #fff;
  margin-left: 18px;
  animation-name: bgswitch;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.2s;
  animation-delay: 0.4s;
  animation-fill-mode: both;
}
nav > .user > .info > div {
  display: inline-block;
  position: relative;
  color: #6e8095;
  margin-top: 25px;
  padding: 0 40px;
  font-size: 14px;
  animation-name: bgswitch;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.2s;
  animation-delay: 0.5s;
  animation-fill-mode: both;
}
nav > .user > .info > div::after {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  content: "";
  border-right: solid 1px;
}
nav > .user > .info > div:last-of-type::after {
  border-right: none;
}
nav .list > .item {
  padding-left: 45px;
  font-size: 12px;
  color: #fff;
  padding-top: 14px;
  padding-bottom: 14px;
  cursor: pointer;
  animation-name: bgswitch;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.1s;
  animation-delay: 0.6s;
  animation-fill-mode: both;
}
nav .list > .item > .list {
  padding-top: 7px;
}
nav .list > .item > .list > .item {
  padding-top: 7px;
  padding-bottom: 4px;
  padding-left: 26px;
  background: none;
  animation-name: bgswitch;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.1s;
  animation-delay: 0.65s;
  animation-fill-mode: both;
}
nav .list > .item > .list > .item > span {
  margin-left: 4px;
}
nav .list > .item > .list > .item > .list > .item {
  animation-name: bgswitch;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.1s;
  animation-delay: 0.7s;
  animation-fill-mode: both;
}
nav .list > .item:hover,
nav .list > .item.opened {
  background: #383d4e;
}
nav .list > .item > .title {
  -webkit-filter: sepia(100%) brightness(60%) saturate(2) hue-rotate(150deg);
}
nav .list > .item > .title > img {
  padding-right: 5px;
  user-select: none;
}
nav .list > .item > .title > img.arrow {
  transform: rotateZ(-90deg);
  transform-origin: 40% 50%;
}
nav .list > .item > .title > span {
  display: inline-block;
  margin-left: 8px;
  user-select: none;
  cursor: pointer;
}
nav .list > .item:hover,
nav .list > .item.opened {
  background: #383d4e;
}
nav .list > .item:hover > .title,
nav .list > .item.opened > .title {
  -webkit-filter: none;
}
nav .list > .item.opened > .title > img.arrow {
  transform: rotateZ(0deg);
  transform-origin: 40% 50%;
}
.container > .content {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: #eeeeed;
  animation-name: bgswitch;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;
  animation-delay: 0.2s;
  animation-fill-mode: both;
}
.content > .nav {
  height: 30px;
  width: 100%;
  background: #fff;
  animation-name: dropInnerNav;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.1s;
  animation-delay: 0.3s;
  animation-fill-mode: both;
  overflow: hidden;
  font-size: 10px;
  line-height: 30px;
  text-indent: 20px;
  transform-origin: 0% 0%;
}
.content > .nav > a {
  text-decoration: none;
  color: #aaa;
  padding: 0 10px;
}
.content > .nav > a:last-of-type {
  color: #6898c2;
}
.content > .body {
  flex: 1;
  padding: 20px 60px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}
.content > .body > :nth-child(1) {
  animation-name: bgswitch;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.2s;
  animation-delay: 0.375s;
  animation-fill-mode: both;
}
.content > .body > :nth-child(2) {
  animation-name: bgswitch;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.2s;
  animation-delay: 0.45s;
  animation-fill-mode: both;
}
.content > .body > :nth-child(3) {
  animation-name: bgswitch;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.2s;
  animation-delay: 0.525s;
  animation-fill-mode: both;
}
.content > .body > :nth-child(4) {
  animation-name: bgswitch;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.2s;
  animation-delay: 0.6s;
  animation-fill-mode: both;
}
.content > .body > :nth-child(5) {
  animation-name: bgswitch;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.2s;
  animation-delay: 0.675s;
  animation-fill-mode: both;
}
.box {
  background: #fff;
  box-sizing: border-box;
  box-shadow: 0 0 2px #828a95;
}
#block-1 {
  height: 86px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 16px 50px;
}
#block-1 select {
  background: url("drop.png") right 10px center no-repeat;
  -webkit-filter: saturate(0);
  padding: 5px 10px;
  -webkit-appearance: none;
  font-size: 12px;
  outline: none;
}
#block-1 select.blue {
  -webkit-filter: saturate(1);
}
#block-1 #query-project {
  flex: 1;
  height: 24px;
  display: flex;
  margin-right: 20px;
  align-items: baseline;
}
#block-1 #query-project select {
  flex: 1;
  height: 24px;
}
#block-1 #query-project::before {
  content: "查询项";
  display: inline-block;
  font-family: "SimHei";
  color: #aaa;
  margin-right: 16px;
  line-height: 24px;
  height: 24px;
  font-size: 14px;
}
#block-1 #query-people {
  flex: 1;
  display: flex;
  align-items: center;
  margin-right: 20px;
}
#block-1 #query-people > .col-container {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-around;
  height: 54px;
}
#block-1 #query-people > .col-container > .label-container {
  width: 100%;
}
#block-1 #query-time {
  flex: 2;
  display: flex;
  flex-wrap: wrap;
  margin-right: 20px;
  margin-left: 20px;
}
#block-1 #query-time > :nth-of-type(1) {
  flex: 1 1 40%;
}
#block-1 #query-time > :nth-of-type(2) {
  flex: 1 1 30%;
}
#block-1 #query-time > :nth-of-type(3) {
  flex: 1 1 30%;
}
#block-1 #query-time > :nth-of-type(4) {
  flex: 1 1 40%;
}
#block-1 .button {
  align-self: center;
}
.button {
  padding: 8px 14px;
  background: #388ac1;
  border-radius: 5px;
  color: #fff;
}
#block-2 {
  display: flex;
  height: 64px;
  margin-top: 9px;
  margin-bottom: 9px;
  margin-bottom: 20px;
}
#block-2 > * {
  margin: 0 2px;
}
#block-2 >:first-child {
  margin-left: 0;
}
#block-2 >:last-child {
  margin-right: 0;
}
#block-2 > .arrow {
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#block-2 > .item::before {
  content: attr(time);
  font-size: 12px;
}
#block-2 > .item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 1;
}
#block-2 > .item:hover,
#block-2 > .item.hightlight {
  border-top: solid #4388c8 4px;
}
#block-2 > .item > span {
  display: block;
  background: url("yuan.png") left center no-repeat;
  text-indent: 12px;
  color: #ec6500;
  margin-top: 4px;
}
#block-2 > .history-query {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
}
#block-2 > .history-query > span {
  margin-left: 10px;
}
#block-3 {
  margin-top: 4px;
}
#block-3 .volume-list {
  display: flex;
  margin-top: 2px;
  justify-content: space-between;
}
#block-3 .box {
  width: 200px;
  height: 72px;
  position: relative;
}
#block-3 .box::after {
  content: "";
  display: block;
  position: absolute;
  width: 62px;
  top: 12px;
  bottom: 12px;
  right: 15px;
}
#block-3 .box span {
  display: block;
  position: absolute;
  left: 8px;
  top: 22px;
  font-size: 12px;
}
#block-3 .box::before {
  content: "成交量";
  position: absolute;
  left: 8px;
  bottom: 16px;
  font-size: 10px;
  color: #aaa;
}
#block-3 .box.green {
  border-left: solid #44b29e 4px;
}
#block-3 .box.green::after {
  background: #44b29e;
}
#block-3 .box.blue {
  border-left: solid #388bc2 4px;
}
#block-3 .box.blue::after {
  background: #388bc2;
}
#block-3 .box.red {
  border-left: solid #d04a36 4px;
}
#block-3 .box.red::after {
  background: #d04a36;
}
#block-3 .box.yellow {
  border-left: solid #e2cd47 4px;
}
#block-3 .box.yellow::after {
  background: #e2cd47;
}
#block-4 {
  height: 360px;
  margin: -5px;
  margin-top: 4px;
  display: flex;
  flex-wrap: wrap;
}
#block-4 > .box {
  border-radius: 5px;
  height: 340px;
  margin: 5px;
  display: flex;
  flex-direction: column;
}
#block-4 > .box > .title {
  height: 42px;
  background: #f4f6f7;
  border-radius: 5px 5px 0px 0px;
  line-height: 42px;
  text-indent: 20px;
  font-size: 12px;
  font-family: "SimHei";
  color: #aaa;
}
#b1 {
  flex: 6 0 50%;
}
.tabs {
  flex: 1;
  padding-top: 12px;
  padding-left: 24px;
  position: relative;
}
.tabs .tab {
  display: inline-block;
}
.tabs input[type="radio"] {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
.tabs label {
  display: inline-block;
  position: relative;
  padding: 5px 20px;
  border-radius: 10px 10px 0 0;
  border: #fff solid 1px;
  background-color: #ededf0;
  border-bottom: #cacbcb 1px solid;
  z-index: 1000;
}
.tabs .tab-content {
  display: flex;
  opacity: 0;
  transition: all ease 1s;
  position: absolute;
  left: 24px;
  right: 24px;
  bottom: 24px;
  top: 43px;
  padding-top: 30px;
  background: #fff;
  justify-content: center;
  border: #cacbcb 1px solid;
  z-index: 0;
}
.tabs .tab-content table {
  border-collapse: collapse;
}
.tabs .tab-content table td {
  border: #d3d3d3 1px solid;
  margin: 0;
  padding: 3px 5px;
}
.tabs [id^="tab"]:checked + label {
  border-top: #cacbcb solid 1px;
  border-left: #cacbcb 1px solid;
  border-right: #cacbcb 1px solid;
  border-bottom: #fff 1px solid;
  background: #fff;
}
.tabs [id^="tab"]:checked ~ [id^="tab-content"] {
  opacity: 1;
}
#b2 {
  flex: 4 0 30%;
}
#b2 .form {
  padding: 20px 30px;
  flex: 1;
  display: flex;
  flex-direction: column;
}
#b2 .form .edit-title {
  border-bottom: #cacbcb 1px solid;
}
#b2 .form .price-and-principal {
  border-bottom: #cacbcb 1px solid;
  display: flex;
}
#b2 .form .price-and-principal > * {
  flex: 2;
}
#b2 .form .price-and-principal > .price {
  flex: 1;
  border-right: #cacbcb 1px solid;
}
#b2 .form [label] {
  display: flex;
  flex-direction: column;
}
#b2 .form [label]::before {
  content: attr(label);
  font-size: 12px;
  color: #c3c2c2;
  text-indent: 12px;
}
#b2 .form [label] > input {
  border: none;
  outline: none;
  padding: 12px;
}
#b2 .form .details {
  border-bottom: #cacbcb 1px solid;
  flex: 1;
  display: flex;
}
#b2 .form .details textarea {
  flex: 1;
  resize: none;
  border: none;
  outline: none;
  padding: 12px;
}
#b2 .form .bar {
  margin-top: 5px;
  display: flex;
  align-items: baseline;
}
#b2 .form .bar .checkbox {
  flex: 1;
  font-size: 12px;
  color: #c3c2c2;
}
#b2 .form .bar .checkbox input {
  display: none;
}
#b2 .form .bar .checkbox label {
  background: url("checkbox_bg.png") left center no-repeat;
  padding-left: 20px;
}
#b2 .form .bar .checkbox input:checked + label {
  background: url("checkbox_tick.png") left 2px center no-repeat, url("checkbox_bg.png") left center no-repeat;
}
#b3 {
  flex: 4 0 30%;
  font-size: 12px;
}
#b3 .selectline {
  padding: 10px 0;
  margin: -5px 20px;
  display: flex;
  border-bottom: #a9cfec 1px solid;
}
#b3 .selectline > * {
  border: #cdcece solid 1px;
  text-align: center;
  margin: 5px;
  height: 20px;
  font-size: 11px;
}
#b3 .selectline .select {
  flex: 1;
  position: relative;
  display: flex;
  background: url("sep.png") right 15px center no-repeat;
}
#b3 .selectline .select select {
  flex: 1;
  border: none;
  padding: 0 5px;
  -webkit-appearance: none;
  background: url("drop2.png") right 5px center no-repeat;
  text-align: center;
}
#b3 .selectline .select.month::before {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
  background: url("left.png") left 5px center no-repeat;
}
#b3 .selectline .select.month::after {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
  background: url("right.png") right 5px center no-repeat;
}
#b3 .selectline .select.month select {
  flex: 1;
  margin: 0 16px;
}
#b3 .selectline .white-button {
  line-height: 20px;
  padding: 0 20px;
}
#b3 .cont {
  margin: 0 30px;
  font-size: 11px;
  text-align: center;
}
#b3 .cont .day {
  display: flex;
  height: 32px;
  border-bottom: #e1e1e1 1px solid;
  align-items: center;
  justify-content: space-around;
}
#b3 .cont .day * {
  flex: 1;
}
#b3 .cont .date {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}
#b3 .cont .date .block {
  flex: 1 1 14%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 32px;
  padding: 2px 0;
  margin: 2px 0;
}
#b3 .cont .date .block::before {
  content: attr(date);
}
#b3 .cont .date .block::after {
  content: attr(fav);
}
#b3 .cont .date .block[red='red']::after {
  color: #c9161d;
}
#b3 .cont .date .block[border='border'] {
  border: #f6c62b 1px solid;
}
#b3 .cont .date .block[holiday='holiday']::before {
  color: #c9161d;
}
#b4 {
  flex: 6 0 50%;
  position: relative;
  font-size: 12px;
}
#b4 table {
  flex: 1 1 100%;
  border-collapse: collapse;
  position: absolute;
  left: 40px;
  top: 60px;
  right: 40px;
  bottom: 0px;
  width: calc(100% - 80px);
}
#b4 table tr td:nth-child(1),
#b4 table tr td:nth-child(2) {
  width: 80px;
}
#b4 table tr td {
  border: #cbcbcb solid 1px;
  cursor: pointer;
  height: 30px;
  text-indent: 30px;
}
#b4 table tr td.value {
  position: relative;
  vertical-align: center;
}
#b4 table tr td.value .line-box {
  display: inline-block;
  position: absolute;
  height: 5px;
  padding-bottom: 2px;
  left: 100px;
  top: 14px;
  width: calc(100% - 120px);
}
#b4 table tr td.value .line-box .line {
  background: #7fcbf0;
  height: 5px;
}
#b4 table tr:hover {
  background: #f4f5f7;
}
@-moz-keyframes dropHeader {
  0% {
    transform: translateY(-56px);
  }
  100% {
    transform: translateY(0);
  }
}
@-webkit-keyframes dropHeader {
  0% {
    transform: translateY(-56px);
  }
  100% {
    transform: translateY(0);
  }
}
@-o-keyframes dropHeader {
  0% {
    transform: translateY(-56px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes dropHeader {
  0% {
    transform: translateY(-56px);
  }
  100% {
    transform: translateY(0);
  }
}
@-moz-keyframes dropNav {
  0% {
    transform: translateX(-260px);
  }
  100% {
    transform: translateX(0);
  }
}
@-webkit-keyframes dropNav {
  0% {
    transform: translateX(-260px);
  }
  100% {
    transform: translateX(0);
  }
}
@-o-keyframes dropNav {
  0% {
    transform: translateX(-260px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes dropNav {
  0% {
    transform: translateX(-260px);
  }
  100% {
    transform: translateX(0);
  }
}
@-moz-keyframes bgswitch {
  0% {
    opacity: 0;
    -webkit-filter: grayscale(1) blur(3px);
  }
  100% {
    opacity: 1;
    -webkit-filter: grayscale(0) blur(0);
  }
}
@-webkit-keyframes bgswitch {
  0% {
    opacity: 0;
    -webkit-filter: grayscale(1) blur(3px);
  }
  100% {
    opacity: 1;
    -webkit-filter: grayscale(0) blur(0);
  }
}
@-o-keyframes bgswitch {
  0% {
    opacity: 0;
    -webkit-filter: grayscale(1) blur(3px);
  }
  100% {
    opacity: 1;
    -webkit-filter: grayscale(0) blur(0);
  }
}
@keyframes bgswitch {
  0% {
    opacity: 0;
    -webkit-filter: grayscale(1) blur(3px);
  }
  100% {
    opacity: 1;
    -webkit-filter: grayscale(0) blur(0);
  }
}
@-moz-keyframes dropInnerNav {
  0% {
    transform: perspective(800px) rotateX(90deg);
  }
  100% {
    transform: perspective(800px) rotateX(0);
  }
}
@-webkit-keyframes dropInnerNav {
  0% {
    transform: perspective(800px) rotateX(90deg);
  }
  100% {
    transform: perspective(800px) rotateX(0);
  }
}
@-o-keyframes dropInnerNav {
  0% {
    transform: perspective(800px) rotateX(90deg);
  }
  100% {
    transform: perspective(800px) rotateX(0);
  }
}
@keyframes dropInnerNav {
  0% {
    transform: perspective(800px) rotateX(90deg);
  }
  100% {
    transform: perspective(800px) rotateX(0);
  }
}
